html{
    box-sizing: border-box;
    margin: 0px ;
    padding: 0px ;
    background-color: #191919;
}

.btn-1{
    cursor: pointer;
    padding: 12PX;
    min-width: 155PX;
    border: 1px solid #F33F3F;
    border-radius: 6px;
    background: #F33F3F;
}
.btn-2{
    cursor: pointer;
    min-width: 155PX;
    padding: 12PX;
    background: transparent;
    border: 1px solid #A41B1B;
    border-radius: 6px;
    color: rgba(255, 255, 255, 0.49);
}